@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  --primary: #ff5100;
  --error: #e7195a;
}

/* Navbar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 750px;
  margin: 0 auto 40px;
  border-bottom: 1px solid #f2f2f2;
  flex-wrap: wrap;
}
.navbar h1 {
  color: var(--primary);
  flex: 1;
}
.navbar .links {
  margin-left: auto;
  flex: 1;
  text-align: right;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--primary);
}
.content {
  max-width: 750px;
  margin: 40px auto;
  padding: 20px;
}

.tasks-image img {
  width: 200px;
}

/* Register */
.register,
.login {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.register label,
.login label {
  text-align: left;
  display: block;
}
.register h2,
.login h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}
.register input,
.login input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.register button,
.login button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

div .error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.register p,
.login p {
  margin-bottom: 1.2em;
  line-height: 1.5;
}

.new-account {
  margin-bottom: 1.2em;
  margin-top: 2.2em;
  line-height: 1.5;
}

.register-link {
  color: var(--primary);
}

/* Homepage */
.home-image img {
  max-width: 750px;
  margin-bottom: 25px;
}

.home h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: var(--primary);
}

.home {
  line-height: 2rem;
  margin-bottom: 15px;
}

.not-found {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.not-found h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}

.not-found p {
  margin-bottom: 30px;
}

.tasks {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.tasks h2 {
  font-size: 20px;
  color: var(--primary);
}

.tasks button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px auto;
  font-size: 1.2rem;
}

.tasks p {
  white-space: normal;
  margin: 10px auto;
}

.addNewForm {
  width: 100%;
  display: flex;
  gap: 1rem;
  input,
  select {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: black;
    padding: 1rem;
    background-color: #bbbbbb;
  }
  button[type="submit"] {
    /* background-color: #bbbbbb; */
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    border: none;
    /* color: black; */
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease background-color, 0.3s ease color;
    &:hover {
      background-color: #156542;
      color: rgb(205, 205, 205);
    }
  }
}
.taskList_table {
  width: 100%;
  margin-top: 2rem;
}

.task_item {
  background-color: rgba(128, 128, 128, 0.174);
  margin-top: 0.5rem;
  border-radius: 6px;
  font-size: 1.2rem;
  &:hover {
    background-color: rgba(95, 95, 95, 0.2);
  }
  td {
    padding: 0.3rem;
    vertical-align: middle;
  }
  td:last-child {
    text-align: center;
    vertical-align: middle;
  }
}

.task_item_checkbox {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease background-color;
  cursor: pointer;
  & input {
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
  }
  &:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
}

.task_name {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  p {
    width: calc(100% - 3rem);
  }
}

.deleteBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid crimson;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  color: crimson;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease background-color, 0.3s ease color;
  &:hover {
    background-color: rgb(142, 13, 39);
    color: rgb(205, 205, 205);
  }
}

.filters {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin: 1rem 0;
  font-size: 1.1rem;
}

/* Responsive styles */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .links {
    text-align: left;
    margin-top: 10px;
  }
  .content {
    padding: 10px;
  }
  .tasks-image img {
    width: 100%;
  }
  .register,
  .login {
    width: 90%;
  }
  .tasks {
    width: 90%;
  }
  .task_name p {
    width: 100%;
  }
  .filters,
  .addNewForm {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }
}
